/*Клиенты*/
.client-title {
    margin-bottom: 50px;
  }
  
  .client-list {
    display: flex;
  }
  
  .client-list-item {
    width: 170px;
    height: 90px;
  }
  
  .client-list-item:not(:last-child) {
    margin-right: 30px;
  }
  
  .client-list-item .link {
    box-sizing: border-box;
    width: 170px;
    height: 90px;
    align-items: center;
    justify-content: center;
    display: flex;
  
    border: solid 1px #afb1b8;
    border-radius: 4px;
  }
  
  .client-link-svg {
    fill: #afb1b8;
  }
  
  .client-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .link:hover {
    fill: $accent-color;
  }
  
  .link:hover .client-link-svg {
    fill: $accent-color;
  }
  
  .client-list-item .link:hover {
    border: 1px solid $accent-color;
    border-radius: 4px;
  }
  
  .svg-1 {
    width: 44px;
    height: 49px;
  }
  
  .svg-2 {
    width: 40px;
    height: 52px;
  }
  
  .svg-3 {
    width: 41px;
    height: 43px;
  }
  
  .svg-4 {
    width: 80px;
    height: 42px;
  }
  
  .svg-5 {
    width: 59px;
    height: 47px;
  }
  
  .svg-6 {
    width: 88.5px;
    height: 45px;
  }