
body {
    background-color: var(--title-light-words-color);
    font-family: var(--main-font);
    font-size: 14px;
    color: var(--title-dark-words-color);
  }
  
  .header-wrapper .link,
  .link-logo {
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  
ul,
h1,
h2,
h3 {
  padding: 0px;
  margin: 0px;
}



  .link {
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  svg {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .list {
    list-style: none;
  }