$secondary-font: "Raleway", sans-serif;
$main-font: "Roboto", sans-serif;
$title-light-words-color: #ffffff;
$title-dark-words-color: #212121;
$accent-color: #2196f3;
$title-gray-words-color: #757575;
